
.weather {
  color: white;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
  padding: 25px;
  border-radius: .3rem;
  background-color: #38a9ff;
  background-image: url('https://html.crumina.net/html-olympus/img/bg-wethear.webp');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;

  @media (min-width: 992px) {
    max-width: 350px;
  }
}

.weather__now {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature_sensor {
  font-size: 60px;

}

.temperature_max_min {
  & span {
    display: block;
    font-size: 16px;
  }
}

.weather_description {
  & > span {
    margin-left: 10px;
    font-size: 11px;
  }
}

.date {
  margin-bottom: 10px;
}

.search_place {
  @media (min-width: 576px) {
    display: flex;
  }
}

.input_location {
  width: 100%;
  padding: 10px 5px;
  border-radius: .3rem;
  margin-bottom: 5px;
  @media (min-width: 576px) {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.search_btn {
  width: 100%;
  @media (min-width: 576px) {
    max-width: 90px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}