
.weather {
  color: white;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
  border-radius: .3rem;
  padding: 25px;
  background-color: #38a9ff;
  background-image: url('https://html.crumina.net/html-olympus/img/bg-wethear.webp');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  position: relative;
  z-index: 21;
  &>span{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 10px;
    display: inline-block;
    transition: .3s ease;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;

  }
  @media (min-width: 992px) {
    max-width: 350px;
  }
}

.weather__now {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature_sensor {
  font-size: 4.5rem;
  position: relative;
}
.temperature_sensor::after{
  content:'o' ;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  position: relative;
  top: -38px;
  left: -5px;
}

.temperature_max_min {
  & span {
    display: block;
    font-size: 16px;
  }
}

.weather_description {

  & > span {
    margin-left: 10px;
    font-size: 11px;
  }
}

.climat {

}

.date_and_place {
  margin-bottom: 10px;

  &.date {
  }

  &.place {
  }
}

.search_place {
  display: flex;
  //width: 100%;
}

.input_text {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  width: 100%;
  padding: 10px 5px;
  resize: none;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #ff5e3a;
  }

}

.search_btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 90px;
  width: 100%;
}

.error{
  transform: translateY(-20px);
  background-color: #ff5e3a;
  padding: 3px 5px;
  border-radius: .3rem;
}