
.form {
    max-width: 450px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;

}

.form_body {
    border-bottom: #e6ecf5 1px solid;
    margin-bottom: 15px;
}

.input_text {
    resize: none;
    width: 100%;
    min-height: 160px;
    border: none;
}

.form_button {
    display: flex;
    justify-content: end;
}
.post_items {

}