.row {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
}

.col {}

.block {
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 0 12px;
  margin-bottom: 10px;
}

.block_title {
  padding: 23px 25px 0;
}

.block_content {
  padding: 23px 25px 18px;
}

.personal_info {
  li {
    margin-bottom: 30px;
  }

  .title {
    color: var(--heading-color);
    font-size: .812rem;
    font-weight: 500;
    margin-right: 30px;
    float: left;
    width: 30%;
  }

  .date {
    font-size: 11px;
    color: #bdc0ce;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .text {
    display: block;
    overflow: hidden;
    font-size: .812rem;
  }
}

.menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .item {
    margin-left: 15px;

    img {
      width: 26px;
    }
  }
}

.edit_link {
  padding: 0 5px;
  color: var(--body-font-color);
  border-bottom: 1px solid transparent;
  transition: all .3s;
}
.edit_link:hover{
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  line-height: 0;
}

.avatar {
  max-width: 120px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: all .3s;
}
.avatar:hover{
  border: 3px solid var(--primary-color);
}