.dialogs {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.dialog_item {
  flex: 1 1 100px;
  overflow-y: auto;
  // height: 54px;
   // решить вопрос с тем чтобы прижать input
}

.author {
  & > div {
    margin-right: auto;
  }
}

.companion {
  & > div {
    margin-left: auto;
  }
}


.dialog_input {
  display: flex;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  overflow: hidden;

  & textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid #ff5e3a;
    }
  }
}