.dialogs {
  overflow-y: auto;
  height: 50vh;
  margin-bottom: 55px;
}

.dialog_item {

}

.author {
  & > div {
    margin-right: auto;
  }
}

.companion {
  & > div {
    margin-left: auto;
  }
}


.dialog_input {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  overflow: hidden;

  & textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid #ff5e3a;
    }
  }
}