.top_header {
	position: relative;
}

.top_header {
	position: relative;
	border-radius: .5rem;
	overflow: hidden;
	min-width: 100%;
	background-color: #ffff;
}

.top_header_banner {
	height: 300px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 -120px 55px -30px rgb(0 0 0 / 50%);
	}

	.banner {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}
}

.profile__section_item {
	display: flex;
	padding: 20px;

	.section_item {
		flex: 0 0 auto;
		width: 41.66667%;
	}
}

.ml_auto {
	margin-left: auto;
}

.profile_menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	li a {
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		color: #515365;
		transition: all .15s ease;

		&:not(.active):hover {
			color: #ff5e3a;
		}
	}

	li a.active {
		color: #ff5e3a;
	}
}

.top_header_author {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, 0);
	max-width: 200px;
	text-align: center;
	z-index: 4;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.autor_img {
	display: block;
	border-radius: 100%;
	border: 6px solid white;
	width: 132px;
	height: 132px;
	overflow: hidden;

	img {
		display: block;
		border: 2px solid #515365;
		border-radius: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.author_content {}

.author_name {
	font-size: calc(1.2625rem + .15vw);
	font-weight: 700;
	color: #515365;
}

.country {}

// ===================
.profileContent {}

.container_fluid {
	border: #ff5e3a solid 1px;
	margin: 10px -10px 0px -10px;
	padding: 10px 10px;
}