.dialogs {
  overflow-y: scroll;
  height: 50vh;
  // margin-bottom: 55px;
  position: relative;
}

.dialog_item {

}

.author {
  & > div {
    margin-right: auto;
  }
}

.companion {
  & > div {
    margin-left: auto;
  }
}


.dialog_input {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.input_message {
  resize: none;
  width: 100%;
  padding: 10px;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #ff5e3a;
  }
}

.send_btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}