.header {
    height: 70px;
    padding-right: 70px;
    background-color: #3f4257;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.page_title {
    padding: 26px 50px 26px 100px;
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.7276rem + 0.6550vw, 1.25rem);
    color: #fff;
    float: left;
    height: 100%;
    min-width: 170px;
    h6{
        margin: 0px;
    }
}

.header_wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.header_search_bar {
    background-color: #494c62;
    width: 100%;
    max-width: 400px;
    input {
        color: #9a9fbf;
        border: 0;
        font-size: .8rem;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: inherit;
        padding: 0 10px;
    }
}

.link_find_friend {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    transition: all .15s ease;
    line-height: 70px;

    &:hover {
        color: #ff5e3a;
    }
}

.header_control_block {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    .control_icon {
        margin-left: 15px;
        width: 36px;
        height: 36px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.author_page {
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}


.author_thumb {
    position: relative;

    img {
        border-radius: 100%;
        display: block;
    }

    .icon_status {
        position: absolute;
        margin-right: 0;
        top: 0;
        left: 0;
        border: 1px solid #3f4257;
        width: 8px;
        height: 8px;
        background-color: #32e4cd;
        border-radius: 100%;
    }
}

.author_name {
    margin-left: 10px;

    font-weight: 700;

    .author_title {
        font-size: 12px;
        color: #fff;
    }

    .author_subtitle {
        display: block;
        font-size: 10px;
        color: #9a9fbf;
    }
}
