.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		'header header '
		'sidebar main'
		'sidebar footer';
	background-color: #edf2f6;
	
}

.container {
	max-width: 1274px;
	margin: 0 auto;
	height: 100%;
	// border: 1px solid red
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	padding: 110px 90px 0px;
}

.sidebar {
	grid-area: sidebar;
}

footer {
	grid-area: footer;
	margin: 0 auto;
}