.post_item {
    max-width: 450px;
    height: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;
}

.post {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    & p {
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
    span{
        margin-left: auto;
    }
    & span {
      margin-left: auto;
    }
}