.status{
	padding: 0 5px;
	cursor: pointer;
	user-select: none;
	border-bottom: 1px solid transparent;
	transition: all .3s;
}
.status:hover{
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
}
.input{
	border: none;
	border-bottom: 1px solid var(--primary-color);
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 400; 
	line-height: 1.5;
	color: var(--body-font-color);
}